/* 
    Document   : mod_float_social
    Created on : Sep 21, 2013, 10:05:26 PM
    Author     : ShakingWeb.com
*/

#ModFloatSocial
{
    text-align: center;
    padding: 5px;
    padding-left: 0;
    padding-right: 0;
    position: fixed;
    border: 1px solid black;
    top: 30%;
    width: 90px;
    z-index: 1000;
}
